body {
    background-color: black;
    color: red;
}
#textClock {
    padding: 5em;
}



#holder-one {
    position: relative;
    margin-left: 20%;
}
#holder-two {
    position: relative;
    margin-left: 35%;
}
#holder-three {
    position: relative;
    margin-left: 55%;
}
#holder-four {
    position: relative;
    margin-left: 70%;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-bottom: 1.5em solid red;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-top: 1.5em solid red;
}
.rectangle {
    width: 3em;
    height: 7.5em;
    background: red;
}



.number {
    position: relative;
}
.top-left {
    position: absolute;
}
.top-border{
    position: absolute;
    top: -5.5em;
    left: 5.5em;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.top-right {
    position: absolute;
    left: 11em;
}
.middle-border {
    position: absolute;
    top: 5.5em;
    left: 5.5em;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.bottom-left {
    position: absolute;
    top: 11em;
}
.bottom-border {
    position: absolute;
    top: 16.5em;
    left: 5.5em;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.bottom-right {
    position: absolute;
    top: 11em;
    left: 11em;
}
